body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: #2196f3; 
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #2196f3; 
  color: #000000;
  padding: 20px;
  text-align: center;
  z-index: 1; 
}

h1 {
  background-color: #fff; 
  padding: 10px;
  border-radius: 5px; 
  display: inline-block; 
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin-top: 60px; 
}

main {
  padding: 20px;
  margin-top: 60px; 
}

.Adding-List {
  background-color: #fff; 
  padding: 20px;
  border-radius: 10px; 
}

.add-task {
  display: flex;
  align-items: center;
}

#new-todo {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

#add-button {
  padding: 10px 20px;
  background-color: #2196f3;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#todo-container {
  max-width: 400px;
  overflow-y: auto;
  margin-top: 20px;
}

#todo-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.todo-checkbox {
  margin-right: 10px;
}

.delete-button {
  background-color: transparent;
  border: none;
  color: #ccc;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}

.delete-button:hover {
  color: #f00;
}
